<% content_for :title do %>
<title>Clientes # Adicionar</title>
<% end %>

<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li class="breadcrumb-item">Clientes</li>
  <li class="breadcrumb-item active">Adicionar</li>
</ol>
<% end %>

<% content_for :head_scripts do %>
<script src="//cdn.ckeditor.com/4.7.3/full/ckeditor.js"></script>
<% end %>

<% if nil.present? #@model.errors.present? %>
  <div class="alert fade in alert-danger ">
    <button type="button" class="close" data-dismiss="alert">×</button>
    Preencha corretamente os campos abaixo
  </div>
<% end %>

<% # bootstrap_form_for @model, url: model_path do |f| %>

<form>
    
  <fieldset>
      <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
       <button type="submit" class="btn btn-primary float-right">Salvar</button>
  </fieldset>
</form>

<% content_for :body_scripts do %>
<script>
    CKEDITOR.replace('exampleFormControlTextarea1');
</script>
<% end %>
